/*
PURCHASES CSS

@author: GODBILLOT Bruno
@version: 1.0
@date: 2025-07-31
@description: Code CSS pour la page des demandes d'achats.
*/

:root {
    --light: white;
    --dark: black;
    --crm-primary: #1b296a; /* Obligatoire */
    --crm-secondary: #ed6840; /* Obligatoire */
    --crm-ofp: #7db9da;
    --crm-alert: #cf2d4f;
    --crm-warning: #f6af2e;
    --crm-success: #488287;
}

.title{
    display: flex;
    justify-content:space-between;
    width: 100%;
}


main{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

form{
    background-color: var(--crm-secondary);
    padding-left: 50px;
    padding-right: 50px;
    border: 2px solid var(--crm-primary);
    background: linear-gradient(to top left, var(--crm-secondary), var(--light));
    box-shadow: 10px 10px 5px var(--dark);
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   /* Vous pouvez modifier la police */
    background: linear-gradient(to bottom right, var(--crm-secondary), var(--light));   /* Vous pouvez changer la couleur de fond */
    color: var(--crm-primary);   /* Vous pouvez changer la couleur du texte */
    margin-left: 10px;
    margin-right: 10px;
}

fieldset{
    border: 2px solid var(--crm-primary);
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 800px;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px var(--dark);
    font-weight: bolder;
}

label{
    display: inline-block;
    width: 400px;
       
}

input, textarea, select{
    width: 250px;
    border-radius: 5px;
    border: 2px solid var(--crm-primary);
    padding: 7px;
    vertical-align: middle;
}



#justificationDemande{
    width: 500px;
}

legend{
    border: 1px solid var(--crm-primary);
    border-radius: 5px;
    background-color: var(--crm-primary);
    color: var(--light);
    padding: 5px;
}

.conteneurBouton{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
    margin-bottom: 50px;
}

button{
    width: 400px;
    height: 50px;
    font-weight: bold;
    border-radius: 5px;
    background-color: var(--crm-primary);
    color: var(--light);
    border: 1px solid var(--crm-primary);
    box-shadow: 10px 10px 5px var(--dark);
    transition: 1s;
}

button:hover{
    transform: scale(1.1);
    background-color: var(--crm-success);
}

#alerte{
    color: var(--crm-alert);
    text-align: center;
    font-weight: bolder;
}

footer{
    margin-top: 50px;
    width: 100%;
}

h2{
    text-align: center;
    margin-bottom: 50px;
}

p{
    text-align: justify;
} 


